@model IEnumerable<WebShopDomain.Model.Order>

@{
    var title = User.IsInRole("manager") ? "Замовлення" : "Мої замовлення";
    ViewData["Title"] = title;
}

<h1>@title</h1>

@if (!Model.Any())
{
    <p>У вас ще немає замовлень.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Номер замовлення</th>
                <th>Дата</th>
                <th>Сума</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Orderdate?.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@item.Totalamount ₴</td>
                    <td>
                        @if (User.IsInRole("manager"))
                        {
                            <form asp-action="UpdateStatus" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="orderId" value="@item.Id" />

                                <select name="statusId" onchange="this.form.submit()" class="form-select form-select-sm">
                                    @foreach (var status in ViewBag.Statuses)
                                    {
                                        <option value="@status.Id"
                                                selected="@(status.Id == item.Orderstatusid)">
                                            @status.Statusname
                                        </option>
                                    }
                                </select>
                            </form>
                        }
                        else
                        {
                            @item.Orderstatus?.Statusname
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                            Деталі
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}