@model WebShopDomain.Model.Cart

@{
    ViewData["Title"] = "Cart";
}

<h1>Мій кошик</h1>

@if (!Model.Cartitems.Any())
{
    <p>Cart is empty</p>
}
else
{
    var total = Model.Cartitems.Sum(x => x.Product.Price * x.Quantity);

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cartitems.First().Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cartitems.First().Quantity)
                </th>
                <th>
                    Ціна за шт.
                </th>
                <th>
                    В загальному
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cartitems)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Product.Price)</td>
                    <td>@(item.Product.Price* item.Quantity)</td>
                    <td>
                        <form asp-action="Remove" method="post">
                            <input type="hidden" name="productId" value="@item.Productid" />
                            <button class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-action="Clear" method="post">
        <button class="btn btn-warning">Clear cart</button>
    </form>

    <h3>Загальна сума: @total ₴</h3>

    <form asp-controller="Carts" asp-action="Checkout" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success">Оплатити</button>
    </form>
}